<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-left">
        <a href="https://blog.hyperparam.app">{{ site.title | escape }}</a>
        <p class="footer-description">{{- site.description | escape -}}</p>
      </div>

      <div class="footer-col footer-col-right">
        {%- include social.html -%}
      </div>
    </div>
  </div>
</footer>
